* {
    box-sizing:border-box;
}
body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
}
h1 {
    position:absolute;
    top: 0em;
}

h1,h3 {
    font-family: Playfair Display;
}
#det {
    position:absolute;
    display: flex;
    align-items:flex-start;
    top: 5.6em;
    width: 40em;
    font-size: 14px;
    line-height: 17px;
}
#dots {padding-left: 15px;margin-top: -5px;}
#cheesecake {
    position: absolute;
    top: 9.5em;
    width: 50em;
    border-radius: 12px;
}
#content {
    position: relative;
    top: 36em;
    width: 50em;
    display: flex;
    flex-direction: row-reverse;
}
#yield {
    display:flex;
    align-items: center;
}
#text,#info {padding-left: 0.8em;}
#text {color: #BDBDBD;font-size: 13px;}
#left  {
    display: flex;
    align-items: center;
    padding: 20px;
}
#yield-time { 
    position: absolute;
    top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 367px;
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.serving {color:orangered;font-weight: bold;}
#in {
    position: absolute;
    left:0;
    width: 36em;
}
input {transform:scale(1.3)}
label {padding-left: 10px}
#samp {
    display: flex;
    padding-top: 10px;
}
span {
    display: inline-block;
    text-align: center;
    width: 1.5em;
    height: 1.4em; 
    background:#F2994A;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}
#space {margin-left: 15px;}
#inst {
    padding-top: 20px;
    display: flex;
}
#source {
    position: absolute;
    top: 143em;
    color: grey;
    font-style: italic;
    text-align: center;
}
#footer {
    position: absolute;
    top: 150em;
    width:50em;
    text-align: center;
    padding-bottom: 15px;
}

@media screen and (max-width:50em) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
    }
    #det {
        width: 30em;
    }
    #cheesecake {
        top: 11em;
        width: 27em;
    }
    h1 {
        font-size: 30px;
    }
    #content {
        position: relative;
        top: 20em;
        width: 30em;
        display: flex;
        flex-direction: column;
    }
    #yield-time { 
        top: 5.5em;
        justify-content: flex-start;
        align-items: flex-start;
        width: 30em;
        height: 7em;
        box-shadow: none;
    }
    #time {
        display:flex;
    }
    #left {
        padding: 10px 5px;
    }
    #text,#info {
        padding-left: 0;
    }

    #in {
        left:0;
        top:11em;
        width: 30em;
    }
    label {
        padding-left: 5px
    }
    #space {margin-left: 5px;}
    #source {
        top: 150em;
    }
    #footer {
        position: absolute;
        top: 155em;
        width:30em;
        text-align: center;        
    } 
}
@media screen and (max-width:500px) {
    body {
        position: relative;
        display: flex;
        justify-content: center;
    }
    #det {
        width: 20em;
        top: 4em;
    }
    #cheesecake {
        top: 11em;
        width: 18em;
    }
    h1 {
        font-size: 23px;
    }
    #content {
        position: relative;
        top: 20em;
        width: 20em;
        display: flex;
        flex-direction: column;
    }
    #yield-time { 
        top: 2.5em;
        justify-content: flex-start;
        align-items: flex-start;
        width: 20em;
        height: 7em;
        box-shadow: none;
    }
    #time {
        display:flex;
    }
    #left {
        padding: 10px 5px;
    }
    #text,#info {
        padding-left: 0;
    }

    #in {
        left:0;
        top:11em;
        width: 20em;
    }
    label {
        padding-left: 5px
    }
    #space {margin-left: 5px;}
    #source {
        width: 20em;
        top: 195em;
    }
    #footer {
        position: absolute;
        top: 201em;
        width:20em;
        text-align: center;        
    } 
}