* {
    box-sizing: border-box;
}

body {
    background: rgb(250, 248, 242);
    font-family: 'Montserrat', sans-serif;
    color: rgb(31, 28, 28)
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color: #696565;
    font-size: 14.5px;
}

.section {
    margin: 20px 0;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    max-width: 830px;
    max-height: 300px;
}

#profile {
    max-width: 240px;
    max-height: 260px;
    padding: 17px;
    border-radius: 25px;
}

#bio-data {
    padding: 0 20px;
}

#about-me {
    display: flex;
    justify-content: space-between;
}

#name {
    margin-top: -20px;
}

#icon {
    display: flex;
}

#icon div {
    padding-right: 10px;
}

#mail {
    cursor: pointer;
}

.two {
    display: grid;
    gap: 20px;
    max-width: 800px;
    grid-template-columns: 35% 65%;
    grid-template-rows: 550px 120px 180px;
    margin-left: -25px;
}

#skills {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 12px;
    grid-area: 1/1/3/2;
}

#skill {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

#skills h3 {
    text-align: center;
}

#symbol {
    width: 50px;
    height: 50px;
}

#blog {
    background: #FFF;
    border-radius: 12px;
    padding: 20px 30px;
}

#tricks {
    display: flex;
    align-items: center;
}

#tricks img {
    width: 65%;
    border-radius: 12px;
}

#blog a {
    text-decoration: none;
    color: #2F80ED;
}

#continue {
    display: block;
    text-align: end;
}

#experiences {
    background: #FFF;
    border-radius: 12px;
    padding: 20px;
}

#certificates {
    display: flex;
    background: #FFF;
    border-radius: 12px;
    grid-area: 2/2/4/3;
}

.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.certificate .button {
    margin-top: 10px;
}

.certificate img {
    max-width: 200px;
    height: 250px;
    border: 5px solid rgb(102, 93, 93);
    border-radius: 12px;
}

.three {
    width: 820px;
    background: #FFF;
    border-radius: 12px;
    padding: 0 0 20px 20px;
}

#projects {
    padding: 0 20px;
}

.four {
    display: grid;
    max-width: 800px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 15px;
    margin-left: -25px;
}

.project {
    padding: 20px;
    background: #FFF;
    border-radius: 12px;
}

#project-photo {
    width: 100%;
    border-radius: 12px;
}

.button {
    width: 100px;
    height: 35px;
    border: 2px solid rgb(41, 33, 33);
    border-radius: 8px;
    font-weight: 550;
    background: #689ee6;
    cursor: pointer;
}

.button:hover,
.button:focus {
    outline: none;
}

.button a {
    text-decoration: none;
    color: #FFF;
}

#buttons {
    display: flex;
    justify-content: center;
}

.demo {
    background: #689ee6;
    margin-right: 10px;
}

.code {
    background: #FFF;
}

.code a {
    color: #689ee6;
}

#footer {
    padding: 40px 0;
}